<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FRESHMusicPlayer__For_Weebs__CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FRESHMusicPlayer__For_Weebs__CSharp.Properties.Settings>
            <setting name="Image" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value />
            </setting>
            <setting name="GC_CollectOnDClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GC_CollectOnSFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundCard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Waifu" serializeAs="String">
                <value />
            </setting>
            <setting name="WaifuChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
        </FRESHMusicPlayer__For_Weebs__CSharp.Properties.Settings>
    </userSettings>
</configuration>